# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI

on:
  push:
    branches:
    - main  # GitHub now defaults to 'main' as the name of the primary branch. Change this as needed.
  #  tags: # run CI if specific tags are pushed
  pull_request:
    # branches: # only build on PRs against 'main' if you need to further limit when CI is run.
    #    - main

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: Python 3.9 with minimal dependencies
            os: ubuntu-latest
            python: 3.9
            toxenv: py39-test

          - name: Python 3.10 with all optional dependencies and coverage checking
            os: ubuntu-latest
            python: '3.10'
            toxenv: py310-test-alldeps-cov

          - name: macOS - Python 3.10 with all optional dependencies
            os: macos-latest
            python: '3.10'
            toxenv: py310-test-alldeps

          - name: Windows - Python 3.10 with all optional dependencies
            os: windows-latest
            python: '3.10'
            toxenv: py310-test-alldeps

          - name: Python 3.11 with all optional dependencies and pre-releases
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-alldeps-predeps

          - name: Python 3.9 with oldest supported version of all dependencies
            os: ubuntu-20.04
            python: 3.9
            toxenv: py39-test-oldestdeps

          # - name: Python 3.10 with latest dev versions of key dependencies
          #   os: ubuntu-latest
          #   python: '3.10'
          #   toxenv: py310-test-devdeps

          # - name: Test building of Sphinx docs
          #   os: ubuntu-latest
          #   python: 3.x
          #   toxenv: build_docs

    steps:
    - name: Checkout code
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938  # v4.2.0
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python }} on ${{ matrix.os }}
      uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3  # v5.2.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Test with tox
      run: |
        tox -e ${{ matrix.toxenv }}
    - name: Upload coverage to codecov
      if: "contains(matrix.toxenv, '-cov')"
      uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673  # v4.5.0
      with:
        file: ./coverage.xml
