name: Publish

on:
  schedule:
    # run every day at 4am UTC
    - cron: '0 4 * * *'
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  publish:
    if: (github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'Build wheels'))
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    secrets:
      pypi_token: ${{ secrets.pypi_token }}
      anaconda_token: ${{ secrets.anaconda_token }}
    with:
      targets: |
        - cp3*-manylinux_x86_64
        - cp3*-musllinux_x86_64
        - cp3*-win32
        - cp3*-win_amd64
        - cp3*-macosx_x86_64
        - cp3*-macosx_arm64
        - target: cp3*-manylinux_aarch64
          runs-on: ubuntu-24.04-arm

      # Developer wheels
      upload_to_anaconda: ${{ (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch') }}
      anaconda_user: astropy
      anaconda_package: astropy-healpix
      anaconda_keep_n_latest: 10
